<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doctorcommunication"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:protectionLevel="signature|setup|privileged"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorCommunication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MC_PopupActivity"
            android:theme="@style/popupTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeetingDoc"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AddSymptom"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".Recording"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SearchList" />
        <activity android:name=".SelectPattern" />
        <activity android:name=".SelectWorse" />
        <activity android:name=".OtherSymptom" />
        <activity android:name=".SelectBody_head" />
        <activity android:name=".SelectBody_stomach" />
        <activity android:name=".SelectBody_waist" />
        <activity android:name=".SelectLevel" />
        <activity android:name=".AddDetails" />
        <activity android:name=".SignActivity"/>
        <activity android:name=".RegisterActivity"/>
    </application>

</manifest>